@media only screen and (max-width:950px){
  .footerConponent{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    text-align: center;
    margin: auto;
  }
}